name: Python Coverage

on: 
    pull_request:
        branches:
            - main

permissions:
    pull-requests: write

jobs: 
    python-coverage:
        runs-on: ubuntu-latest

        steps:
            -   name: Checkout code
                uses: actions/Checkout@v4
            -   name: Set up python
                uses: actions/setup-python@v4
                with:
                    python-version: 3.13
            -   name: install dependencies
                run: |
                    pip install -r requirements.txt
                    pip install pytest==8.4.1
                    pip install coverage==7.9
                    pip install pytest-cov==6.2.1
            -   name: run test coverage
                run: pytest --cov=src
            -   name: coverage comment
                uses: py-cov-action/python-coverage-comment-action@v3
                with: 
                    GITHUB_TOKEN: ${{ github.token }}
                    MINIMUM_GREEN: 90
                    MINIMUM_ORANGE: 70
            -   name: fail if below thresholds
                run: coverage-report --fail-under=90